.header {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 20px;
  box-shadow: 0 10px 10px rgb(108 98 115 / 25%);
}

.secondHeader {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logoBlock {
  position: relative;
}
