@import "../../styles/mixins";

.block {
  border: 1px solid black;
  border-left: 1px solid black;
  display: flex;
  column-gap: 6vw;
  @include padding;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 25vw;
}

.asideBlock {
  width: 15vw;
  margin-left: 5vw;
  border-left: 1px solid black;
  border-right: 1px solid black;
  position: relative;
  top: -100px;
  padding-top: 120px;
  padding-right: 20px;
  padding-left: 20px;
}

.item {
  padding: 0 3vw 0 0;

  @include borderHover;
  @include borderRightHover;
}

.back {
  margin-left: auto;
  cursor: pointer;
}

.subFilter {
  position: absolute;
  transform: translateY(34px);
  width: 300px;
  // height: 150px;
  z-index: 2;
  background-color: white;
  box-shadow: 5px 25px 40px grey;
  border-radius: 5px;

  padding: 15px;
}

.listAndFilter {
  display: flex;
}

.values {
  display: flex;
  justify-content: space-between;
}

.input {
  width: 100%;
}

.input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 10px;
  background: white;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

/* Стили для WebKit-браузеров (Chrome, Safari) */
.input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: rgba(71%, 65%, 80%, 1); /* цвет ползунка */
  border-radius: 50%; /* делаем круглым */
  cursor: pointer;
  border: none;
  box-shadow: 5px 5px 20px rgba(71%, 65%, 80%, 1);
}

/* Стили для Firefox */
.input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: rgba(71%, 65%, 80%, 1);
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

/* Стили для IE/Edge */
.input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: rgba(71%, 65%, 80%, 1);
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.block {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 15px 60px;

  cursor: pointer;
}
