@import "../../styles/mixins";

.block {
  border: 1px solid black;
  display: flex;
  column-gap: 6vw;
  @include padding;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.item {
  padding: 0 3vw 0 0;

  @include borderHover;
  @include borderRightHover;
}

.back {
  margin-left: auto;
  cursor: pointer;
}

.subFilter {
  position: absolute;
  transform: translateY(34px);
  width: 300px;
  height: 150px;
  z-index: 2;
  background-color: white;
  box-shadow: 5px 25px 40px grey;
  border-radius: 5px;

  padding: 15px;
}

.values {
  display: flex;
  justify-content: space-between;
}

.input {
  border-top: 1px solid black;
  width: 100%;
}

// .input[type="range"] {
//   width: 200px;
//   /* Стилизация трека и ручки */
// }
/* Пример стилизации ручки для Chrome */
.input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #4caf50;
  border-radius: 50%;
  cursor: pointer;
}
/* Пример стилизации ручки для Firefox */
.input[type="range"]::-moz-range-thumb {
  background: #4caf50;
  border-radius: 50%;
  cursor: pointer;
}
