@import "../../styles/vars.scss";

.input {
  box-sizing: border-box;
  width: 300px;
  height: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: $border-radius;

  display: flex;
  flex-direction: column;

  &:active {
    outline: none;
    border: 1px solid $color-purple;
  }

  input {
    outline: none;
    height: 20px;
  }
}

.placeholderMin {
  font-size: 0.7em;
}

.placeholder {
}

.form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}
