@import "../../styles/vars";

.filter {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  cursor: pointer;
  background-color: white;
  padding: 30px;
  color: black;
}

.aside {
  width: 200px;
}

.subFilters {
  display: none;
}

.active {
  display: flex;
  justify-content: space-between;
}

.values {
  display: flex;
  justify-content: space-between;
}

.input {
  border-bottom: 1px solid black;
  accent-color: $color-purple;
  width: 100%;
}

.input::-webkit-slider-thumb {
  border-image: linear-gradient(90deg, #c56fff 50%, #ababab 0) 0 1 / calc(50% - 4px) 100vw/0 100vw;
}

.category {
  cursor: pointer;
}

.itemFilter {
  padding: 10px;
  border-bottom: 1px dashed grey;
}

.itemFilterActive {
  color: plum;
}
