.section {
  margin-top: 85px;
}

.slider {
  display: flex;
}

.slide div {
  width: 100%;
  height: 100%;
}

.swiper {
  display: flex;
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
}
