.card {
  line-height: 150%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.img {
  position: relative;
  // todo
  width: 270px;
  height: 270px;

  background-color: rgba(71%, 65%, 80%, 1);
}

.desc {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}
