.card {
  line-height: 150%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  box-shadow: 2px 5px 10px rgb(108 98 115 / 25%);
}

.img {
  position: relative;
  // todo
  width: 270px;
  height: 270px;

  background-color: rgba(71%, 65%, 80%, 1);
}

.desc {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}
