//TODO: вынести в переменные числовые значения
@import "../../styles/_mixins.scss";
@import "../../styles/vars.scss";

//todo

.button,
.link {
  cursor: pointer;
}

.button {
  width: 100%;
  height: 100%;
  padding: 24px 0;
  border-radius: $border-radius;
  text-align: center;

  @include mobile {
  }

  &.dark {
    background-color: black;
    color: #ffffff;
  }

  &.light {
    background-color: #ffffff;
    color: black;
  }
}

.link {
  @include p;
  @include borderHover;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);

  &:hover {
    border-bottom: 1px solid black;
  }

  &.light {
    padding: 24px 0;
    border-radius: 8px;
    width: 250px;
    text-align: center;

    &:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0);
    }
  }
}
