//TODO: вынести в переменные числовые значения
@import "../../styles/_mixins.scss";

.button {
  padding: 24px 0;
  border-radius: 8px;
  width: 250px;

  text-align: center;

  @include mobile {
  }
}

.dark {
}

.light {
  background-color: #ffffff;
  color: black;
}

.link {
  color: black;
}
