//TODO: вынести в переменные числовые значения
@import "../../styles/_mixins.scss";
@import "../../styles/vars.scss";

//todo

.button {
  padding: 24px 0;
  border-radius: $border-radius;
  width: 250px;

  text-align: center;

  @include mobile {
  }
}

.dark {
}

.light {
  background-color: #ffffff;
  color: black;
}

.link {
  color: black;
  cursor: pointer;
  @include p;
  padding: 5px;
  will-change: border;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: 0.3s;

  &:hover {
    border-bottom: 1px solid black;
  }
}

.link.light {
  padding: 24px 0;
  border-radius: 8px;
  width: 250px;
  text-align: center;

  &:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
  }
}

.button,
.link {
  cursor: pointer;
}
