@import "../../styles/mixins";

.list {
  display: grid;
  gap: 30px;
  margin-bottom: 30px;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
