@import "../../styles/mixins";

.list {
  display: grid;

  grid-column: 3;
  grid-row: 2;

  @include tablet {
    grid-row: 2;
    grid-column: 2;
  }

  @include mobile {
    grid-row: 1;
    grid-column: 1;
  }
}
