@import "../../styles/mixins";

.list {
  display: grid;
  grid-auto-flow: dense;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;

  grid-template-columns: repeat(3, 270px);
  grid-template-rows: 1fr 1fr;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
