@import "../../styles/vars.scss";

.input {
  cursor: pointer;

  box-sizing: border-box;
  height: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: $border-radius;

  display: flex;
  flex-direction: column;

  &:active {
    outline: none;
    border: 1px solid $color-purple;
  }

  input {
    cursor: pointer;
    outline: none;
    height: 20px;
    width: 50%;
    text-align: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Important to remove the margin space occupied by the default arrows */
  }
}

.switcher {
  display: flex;
  justify-content: space-between;
}

.description {
  width: 180px;
}

.number {
  display: flex;
  flex-direction: row;
  width: 100px;
}

.button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: $border-radius;
}
