.modal {
  width: 50%;
  height: 700px;
  margin: auto;
  // width: 100vw;
  background-color: white;
  // box-shadow: 2px 5px 10px rgb(108 98 115 / 25%);
  box-shadow: 0 10px 10px rgb(108 98 115 / 25%);

  position: absolute;
  z-index: 10;
  top: 100px;
  left: 25%;
  // right: 50%;

  padding: 50px;
}

.closeButton {
  margin-left: auto;
  width: 60px;
  height: 60px;
}

.form {
  width: fit-content;
  margin: auto;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.submitButton {
  margin: auto;
  width: 250px;
}

.sendMessage {
  display: flex;
  flex-direction: column;

  row-gap: 15px;
  margin-top: 30%;

  span {
    font-weight: bold;
  }
}
