@import "../../styles//mixins";

.modal {
  width: 50%;
  height: fit-content;
  margin: auto;
  // width: 100vw;
  background-color: white;
  box-shadow: 0 10px 10px rgb(108 98 115 / 25%);

  position: absolute;
  z-index: 10;
  top: 100px;
  left: 25%;

  padding: 50px;

  @include tablet-ipad {
    top: 200px;
    height: fit-content;
  }

  @include tablet {
    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;

    box-shadow: none;

    display: flex;
    flex-direction: column;
  }

  @include mobile {
    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;

    box-shadow: none;

    display: flex;
    flex-direction: column;
  }
}

.closeButton {
  margin-left: auto;
  width: 60px;
  height: 60px;
}

.form {
  width: fit-content;
  margin: auto;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.submitButton {
  margin: auto;
  width: 250px;
}

.sendMessage {
  display: flex;
  flex-direction: column;

  row-gap: 15px;
  margin-top: 30%;
  margin-bottom: 30%;

  span {
    font-weight: bold;
  }
}
