.modal {
  height: 100vh;
  width: 100vw;
  background-color: white;

  position: absolute;
  z-index: 10;

  padding: 200px;
}

.closeButton {
  margin-left: auto;
  width: 60px;
  height: 60px;
}

.form {
  width: fit-content;
  margin: auto;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.submitButton {
  margin: auto;
  width: 250px;
}
