@import "../../styles/mixins";

.section {
}

.titleBlock {
  margin-top: 10vw;
  margin-bottom: 5vw;
  @include padding;

  @include mobile {
    margin-top: 15vw;
  }
}

.title {
  @include h1;
  width: fit-content;

  &:first-child {
    margin-left: auto;
  }

  &:last-child {
    margin-right: auto;
  }
}

.list {
  @include padding;
  margin-top: 5vw;
}
