@import "../../styles/mixins";

.section {
  min-height: 100vh;
}

.titleBlock {
  margin-top: 10vw;
  margin-bottom: 5vw;
  padding: 0 5vw;

  @include mobile {
    margin-top: 15vw;
  }
}

.title {
  @include h1;
  width: fit-content;

  &:first-child {
    margin-left: auto;
  }

  &:last-child {
    margin-right: auto;
  }
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 0 4vw;
  margin-top: 5vw;
}
