@import "../../styles/mixins";

.section {
  position: sticky;
  top: 0;
  z-index: -1;
  height: 100vh;
}

.block {
  height: 100vh;
}

.imageWrapper {
  height: 100%;
  position: relative;

  // background-color: rgba(71%, 65%, 80%, 0.5);
  background-color: rgba(71%, 65%, 80%, 1);
}

.img {
  height: auto;
  width: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

.title {
  font-size: 45px;
}

.block2 {
  transform: translateY(100%);
}

.content {
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  will-change: opacity;

  height: 100%;
  row-gap: 5vw;
  padding: 10vw;

  @include mobile {
  }
}

.textContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  column-gap: 5vw;
  margin: auto 0;

  @include mobile {
    flex-direction: column-reverse;
    row-gap: 5vw;
    max-width: 320px;
    column-gap: 0;
  }

  h2 {
    @include h2;
    text-align: end;
    align-self: center;
  }

  p {
    @include p;
    align-self: center;
    max-width: 280px;
    line-height: 1.8;

    @include laptop {
      max-width: 290px;
    }

    @include wide {
      max-width: 620px;
    }
  }
}

.buttons {
  display: flex;
  column-gap: 5vw;
  margin-top: auto;

  @include mobile {
    flex-direction: column;
    row-gap: 3vw;
  }
}
