@import "destyle.css";
@import "../styles/fonts.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "PT Serif", "Inter", serif;
  font-size: 16px;
}

p {
  word-wrap: break-word;
}
