@import "destyle.css";
@import "../styles/fonts.scss";

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Raleway", "Inter", serif;
  font-size: 16px;
}

p {
  word-wrap: break-word;
}

body,
main,
.main-location {
  position: relative;
  z-index: -99;
}
